@charset "UTF-8";
/* CSS Document */


#topNav {
	position: relative;
	float:left;
	width:100%;
	padding-top: 10px;
	margin-bottom: 25px;
}
.advImg {
	float:left;
	position:relative;
	left: 5px;
}
#select1 {
	position: absolute;
	left:500px;
	width:50px;
}
#select2 {
	position: absolute;
	left:650px;
}
#textfield {
	position: absolute;
	left:770px;
	width: 100px;
}
#search_img {
	position: absolute;
	left:875px;
}
#centeredmenu {
	position: relative;
	float:left;
	width:950px;
	padding-top: 10px;
	margin-bottom: 25px;
}
#centeredmenu ul {
	float:left;
	list-style:none;
	position:relative;
	clear:left;
	text-align: center;
	left: 400px;
}
#centeredmenu ul li {
	float:left;
	margin:0;
	padding:0;
	position:relative;
	right:50%;
}
#centeredmenu ul li a {
	display:block;
	margin:0 0 0 1px;
	padding:3px 10px;
	color:#000;
	text-decoration:none;
	line-height:1.3em;
	background-color: #ddd;
}
#centeredmenu ul li a:hover {
	background:#369;
	color:#fff;
}
#arrowmenu {
	position: relative;
	float:left;
	width:100%;
	padding-top: 10px;
	margin-bottom: 25px;
}
#arrowmenu ul {
	float:left;
	list-style:none;
	position:relative;
	clear:left;
	text-align: center;
	left: 400px;
}
#arrowmenu ul li {
	float:left;
	margin:0;
	padding:0;
	position:relative;
	right:50%;
}
#arrowmenu ul li a {
	display:block;
	margin:0 0 0 1px;
	padding:3px 10px;
	color:#000;
	text-decoration:none;
	line-height:1.3em;
	background-image: url(images/resStepDividerVisited.gif);
	background-color: #ddd;
	background-repeat: no-repeat;
	background-position: right;
}
#arrowmenu ul li a:hover {
	color:#fff;
	background-color: #ddd;
	background-repeat: no-repeat;
	background-position: right;
	background-image: url(images/resStepDividerPrevious.gif);
}
#MainOuter {
	width: 1000px;
	height: 800px;
}
#MainLeft {
	position:relative;
	float:left;
	/* [disabled]background-color: #30C;
*/
	height: 650px;
	width: 600px;
}
#MainRight {
	float:left;
	background-color: #FFF;
	height: 650px;
	width: 300px;
}
#MainRightTop {
	position:relative;
	float:left;
	background-color: #e2f0f5;
	height: 350px;
	width: 300px;
	text-align:Left;
	padding-left:10px;
	padding-top:10px;
}
#MainRightBottom {
	float:left;
	background-color: #e2f0f5;
	height: 200px;
	width: 300px;
}
#carContent1 {
	position: relative;
	background-color: #FFF;
	height: 92px;
	width: 600px;
}
#carContent2 {
	position: relative;
	background-color: #FFF;
	height: 92px;
	width: 600px;
}
#carContent3 {
	position: relative;
	background-color: #FFF;
	height: 92px;
	width: 600px;
}
#carContent4 {
	position: relative;
	background-color: #FFF;
	height: 92px;
	width: 600px;
}
#carContent5 {
	position: relative;
	background-color: #FFF;
	height: 92px;
	width: 600px;
}
#carContent6 {
	position: relative;
	background-color: #FFF;
	height: 92px;
	width: 600px;
}
#carContent7 {
	position: relative;
	background-color: #FFF;
	height: 92px;
	width: 600px;
}
.cC1 {
	position:absolute;
	float: left;
	left: 3px;
	background-color: #FFF;
	height: 87px;
	width: 150px;
	top: -8px;
	margin-top:8px;
	text-align:center;
}
.cC2 {
	float: left;
	position: absolute;
	left: 152px;
	background-color: #FFF;
	height: 92px;
	width: 150px;
	top: -2px;
	margin-bottom: 22px;
	margin-top: 2px;
	margin-right: 15px;
}
.cC3 {
	float: left;
	position: absolute;
	left: 298px;
	background-color: #FFF;
	height: 35px;
	width: 115px;
	margin-left: 20px;
	top: 7px;
	padding-top: 10px;
}
.cC4 {
	float: left;
	position: absolute;
	left: 450px;
	background-color: #FFF;
	height: 92px;
	width: 150px;
	padding-top:15px;
}
.vehGuideRateContainer {
 .vehGuideRateContainer {
 height: 22px;
 padding-bottom: 3px;
 text-align: left;
}
.vehGuideRateDetailsText {
	font-size: 8pt;
	font-weight: bold;
	text-transform: uppercase;
}
.vehGuideCarImage {
	display: block;
}
.vehGuideVehicleNameContainer {
	font-size: 8pt;
	height: 30px;
	text-align: left;
}
.selectCar {
	background-color: #F00;
}
/*background-color: #09F;
	color: #000000;
	display: block;
	line-height: 1.3em;
	margin: 0 0 0 1px;
	padding: 3px 10px;
	text-decoration: none;
	list-style: none outside none;
	text-align: center;
}
*/


.vehGuideRate {
	font-size: 14pt;
	font-weight: bold;
	text-transform: uppercase;
}
.vehGuideRateDetailsText {
	font-size: 8pt;
	font-weight: bold;
	text-transform: uppercase;
}
#MainLowerDiv{
	position: relative;
	width:700px;
	height:50px;
	background-color:black;
}


/*#ld1{
	position:absolute;
	float: left;
	left: 3px;
	background-color: #066;
	height: 87px;
	width: 150px;
}

#ld2{
	position:absolute;
	float: left;
	left: 150px;
	background-color: #F33;
	height: 87px;
	width: 150px;
}
*/